"*":
  editor:
    invisibles:
      cr: ""
      eol: ""
    showInvisibles: true
    fontFamily: "Source Code Pro"
  core:
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    disabledPackages: [
      "wrap-guide"
    ]
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
  "exception-reporting":
    userId: "23a7144a-fd9b-602e-2d89-2154569fbb7d"
  "linter-eslint": {}
  linter:
    statusIconScope: "File"
    showErrorPanel: false
